In [16]:
import pandas as pd
import random

In [23]:
df = pd.read_csv("predicciones_atp_pwin.csv")
print(df.columns)
display(df.head())

Index(['date', 'winner', 'loser', 'm_winner', 'm_loser', 's_winner', 's_loser',
       'b_winner', 'b_loser', 'p_win'],
      dtype='object')

,date,winner,loser,m_winner,m_loser,s_winner,s_loser,b_winner,b_loser,p_win
0,2000-01-03,Dosedel S.,Ljubicic I.,0.0,0.0,2.5,2.5,NaN,NaN,0.5
1,2000-01-03,Enqvist T.,Clement A.,0.0,0.0,2.5,2.5,NaN,NaN,0.5
2,2000-01-03,Escude N.,Baccanello P.,0.0,0.0,2.5,2.5,NaN,NaN,0.5
3,2000-01-03,Federer R.,Knippschild J.,0.0,0.0,2.5,2.5,NaN,NaN,0.5
4,2000-01-03,Fromberg R.,Woodbridge T.,0.0,0.0,2.5,2.5,NaN,NaN,0.5

In [24]:
df.rename(columns={"winner": "player_a", "loser": "player_b", "m_winner" : "mu_a", "m_loser" : "mu_b","s_winner": "skill_a", "s_loser": "skill_b", "b_winner" : "b_a", "b_loser" : "b_b", "p_win": "p_a"}, inplace=True)
df['p_b'] = 1 - df['p_a']
df['a_won'] = 1
display(df.head())

,date,player_a,player_b,mu_a,mu_b,skill_a,skill_b,b_a,b_b,p_a,p_b,a_won
0,2000-01-03,Dosedel S.,Ljubicic I.,0.0,0.0,2.5,2.5,NaN,NaN,0.5,0.5,1
1,2000-01-03,Enqvist T.,Clement A.,0.0,0.0,2.5,2.5,NaN,NaN,0.5,0.5,1
2,2000-01-03,Escude N.,Baccanello P.,0.0,0.0,2.5,2.5,NaN,NaN,0.5,0.5,1
3,2000-01-03,Federer R.,Knippschild J.,0.0,0.0,2.5,2.5,NaN,NaN,0.5,0.5,1
4,2000-01-03,Fromberg R.,Woodbridge T.,0.0,0.0,2.5,2.5,NaN,NaN,0.5,0.5,1

In [25]:
import numpy as np

# 1. Draw a Boolean mask: True â‰ˆ 50 % of the rows
mask = np.random.rand(len(df)) < 0.5

# 2. Swap the two columns *only* where the mask is True
df.loc[mask, ['player_a', 'player_b']] = (
    df.loc[mask, ['player_b', 'player_a']].to_numpy()
)

df.loc[mask, ['b_a', 'b_b']] = (
    df.loc[mask, ['b_b', 'b_a']].to_numpy()
)

# 3. Update the outcome for those swapped rows
df.loc[mask, 'a_won'] = 0

In [26]:
df.to_csv("predicciones_atp_pwin_reordered.csv", index=False)